language: php

matrix:
    include:
        - php: 5.6
          env: SYMFONY_VERSION=3.4.*
        - php: 7.0
          env: SYMFONY_VERSION=3.4.*
        - php: 7.1
          env: SYMFONY_VERSION=3.4.*
        - php: 7.1
          env: SYMFONY_VERSION=4.0.*
        - php: 7.2
          env: SYMFONY_VERSION=3.4.*
        - php: 7.2
          env: SYMFONY_VERSION=4.0.*
        - php: 7.2
          env: SYMFONY_VERSION=4.2.*
        - php: nightly
          env: SYMFONY_VERSION=4.2.*

    allow_failures:
        - php: nightly

branches:
    only:
        - master
        - /^\d+\.\d+$/

before_script:
    - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d && echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - composer self-update
    - sh -c 'if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony=$SYMFONY_VERSION; fi;'
    - composer update --prefer-dist

script:
    - mkdir -p build/logs
    - vendor/bin/phpunit

# Run coveralls
after_success:
    - php vendor/bin/php-coveralls -v

notifications:
    email: julienguyon@hotmail.com
