<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="JMoseCommandSchedulerBundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>

    <php>
        <server name="KERNEL_CLASS" value="App\Tests\App\AppKernel" />
        <server name="KERNEL_DIR" value="./Tests/App" />
        <ini name="zend.enable_gc" value="0" />
        <!-- disable E_USER_DEPRECATED -->
        <!-- -16385 is the same as -1 & ~E_USER_DEPRECATED -->
        <ini name="error_reporting" value="-16385"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Command</directory>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./DependencyInjection</directory>
            <directory suffix=".php">./Entity</directory>
            <directory suffix=".php">./Form</directory>
            <directory suffix=".php">./Resources</directory>
            <directory suffix=".php">./Validator</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./Tests</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>
