{% trans_default_domain 'JMoseCommandScheduler' %}

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ commandName }}</h4>
                {{ executionDate | date( "dateFormat"|trans ) }}
            </div>
            <div class="modal-body">
                <div class="output">
                    {{ output | raw }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "action.close"|trans }}</button>
            </div>
        </div>
    </div>
</div>

