<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale') }}">
<head>
    <meta charset="UTF-8" />
    <title>This layout is only for local.host. {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block jmose_command_scheduler_head_metas %}{% endblock %}
</head>
<body>

{% block jmose_command_scheduler_breadcrumbs %}{% endblock %}

{% block jmose_command_scheduler_page_content %}
    {% block jmose_command_scheduler_pages_list %}{% endblock %}
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
