table.commands th {
    min-width: 8em;
}

table.commands th.toggle {
    width: 1em;
    min-width: 1em;
}

table.commands th.name {
    width: 10em;
}

table.commands th.command {
    width: 35em;
}

table.commands th.cron {
    width: 10em;
}

