td a:hover {
    text-decoration: none;
}

.marginTop1{
    margin-top: 1em;
}

.marginBottom2{
    margin-bottom: 2em;
}

.graphHolder {
    height: 15em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.filterholder label {
    vertical-align: top;
    padding-top: 5px;
}

.dataTables_filter {
    display: none;
}
